*.gem
*.rbc
.*.un~                                                                                                                             
.*.swp                                                                        
.*.swo                                                                        
.DS_Store
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
tmp
